.Alert {
  border-radius: 7px;
  margin: 5px;
  background: rgba(248, 231, 195, 0.3);
  padding: 10px;
  overflow: hidden;
  border: 1px solid rgba(248, 248, 43, 0.5);
  box-shadow: inset 0 0 10px rgba(235, 247, 170, 0.7),
    0 0 15px rgba(235, 247, 170, 0.7);
}
.Alert p {
  margin: 5px;
  color: rgb(218, 31, 31);
  text-shadow: 0 0 10px rgb(248, 139, 139), 0 0 10px rgb(218, 31, 31);
}
.Alert .name {
  background: rgb(218, 31, 31);
  color: rgba(255, 219, 142);
  border-radius: 7px;
  padding: 10px;
  box-shadow: inset 0 0 5px rgba(235, 247, 170, 0.7),
    0 0 10px rgba(235, 247, 170, 0.7);
}
.Alert .description {
  color: inherit;
  text-shadow: 0 0 10px rgb(202, 189, 219), 0 0 10px rgb(120, 67, 189);
}
