.App {
  border: 1px solid rgb(248, 248, 43);
  border-radius: 4px;
  background: transparent;
  margin: 50px auto;
  padding: 15px 5px;
  box-shadow: inset 0 0 10px rgba(235, 247, 170, 0.7),
    0 0 15px rgba(235, 247, 170, 0.7);
  max-width: 700px;
  font-family: "Courgette", cursive;
}
.App h1 {
  margin-bottom: 10px;
  padding: 10px;
  text-shadow: 0 0 10px rgb(202, 189, 219), 0 0 10px rgb(120, 67, 189);
}
.App .Footer {
  color: rgba(0, 0, 51, 0.75);
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 10px rgb(202, 189, 219), 0 0 10px rgb(120, 67, 189);
}
.App .Footer .sara-git-link {
  color: rgba(0, 0, 51, 0.9);
  text-decoration: none;
}
.App .Footer .sara-git-link:hover {
  text-decoration: underline;
  cursor: pointer;
}
