.App {
  border: 1px solid rgb(0, 0, 51);
  border-radius: 4px;
  background: transparent;
  margin: 50px auto;
  padding: 15px 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 51, 0.75);
  max-width: 700px;
}
