.Background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.Background .star {
  display: inline-block;
  position: absolute;
  background: rgba(248, 248, 94, 0.7);
  margin: 5px;
  border-radius: 50%;
  animation: twinkle ease-in-out infinite alternate;
}
.Background .star:nth-child(odd) {
  animation-duration: 5s;
  animation-delay: 2s;
}
.Background .star:nth-child(even) {
  animation-duration: 3s;
  animation-delay: 1s;
}
.Background .star.star-small {
  width: 3px;
  height: 3px;
}
.Background .star.star-medium {
  width: 4px;
  height: 4px;
}
.Background .star.star-large {
  width: 5px;
  height: 5px;
}

@keyframes twinkle {
  from {
    box-shadow: 0;
  }
  to {
    box-shadow: 0 0 2px 2px rgba(240, 240, 69, 0.5);
  }
}
@media screen and (max-width: 767px) {
  .Background .star:nth-child(5n) {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  .Background .star:nth-child(3n) {
    display: none;
  }
}
