.Forecast {
  border: 1px solid rgba(252, 212, 127, 0.25);
  border-radius: 4px;
  padding: 5px;
  background: rgba(255, 219, 142, 0.4);
  margin: 20px 10px 10px;
  border: 1px solid rgba(248, 248, 43, 0.5);
}
.Forecast .forecastBtns button {
  border: 1px solid rgba(212, 212, 212, 0.1);
  box-shadow: inset 0 0 5px rgba(235, 247, 170, 0.7);
  color: rgba(255, 219, 142);
  font-size: 15px;
  margin: 5px;
  padding: 7px 15px;
  border-radius: 5px;
}
.Forecast .forecastBtns button:hover {
  cursor: pointer;
}
.Forecast .forecastBtns .dailyForecastBtn {
  background: rgb(11, 185, 216);
}
.Forecast .forecastBtns .hourlyForecastBtn {
  background: rgb(30, 206, 124);
}
.Forecast .forecastBtns .alertsBtn {
  background: rgb(218, 31, 31);
}
.Forecast .forecastBtns .dailyForecastBtn:hover {
  background: rgb(13, 202, 236);
  box-shadow: inset 0 0 5px rgba(235, 247, 170, 0.7),
    0 0 10px rgba(235, 247, 170, 0.7);
}
.Forecast .forecastBtns .hourlyForecastBtn:hover {
  background: rgb(9, 231, 128);
  box-shadow: inset 0 0 5px rgba(235, 247, 170, 0.7),
    0 0 10px rgba(235, 247, 170, 0.7);
}
.Forecast .forecastBtns .alertsBtn:hover {
  background: rgb(247, 10, 10);
  box-shadow: inset 0 0 5px rgba(235, 247, 170, 0.7),
    0 0 10px rgba(235, 247, 170, 0.7);
}
