*,
*::after,
*::before {
  margin: 0;
}
body {
  text-align: center;
  background: linear-gradient(rgb(40, 224, 200), rgb(117, 236, 38)) no-repeat
    center center fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
